$icomoon-font-path: "~@/assets/fonts" !default;

$skill-gitaar-spelen: "\e920";
$skill-home-assistant: "\e921";
$skill-apache: "\e900";
$skill-bower: "\e901";
$skill-css3: "\e902";
$skill-git: "\e903";
$skill-github: "\e904";
$skill-grunt: "\e905";
$skill-gulp: "\e906";
$skill-html5: "\e907";
$skill-java: "\e908";
$skill-javascript: "\e909";
$skill-jquery: "\e90a";
$skill-less: "\e90b";
$skill-mocha: "\e90c";
$skill-mongodb: "\e90d";
$skill-mysql: "\e90e";
$skill-nginx: "\e90f";
$skill-nodejs: "\e910";
$skill-php: "\e911";
$skill-python: "\e912";
$skill-sass: "\e913";
$skill-typescript: "\e914";
$skill-yaml: "\e922";
$skill-angular: "\e915";
$skill-bootstrap: "\e916";
$skill-express: "\e917";
$skill-laravel: "\e918";
$skill-symfony: "\e919";
$skill-vue: "\e91a";
$skill-acrobat: "\e91b";
$skill-bridge: "\e91c";
$skill-illustrator: "\e91d";
$skill-indesign: "\e91e";
$skill-photoshop: "\e91f";

$skill-apache-hover: #c01830;
$skill-bower-hover: #ef5734;
$skill-css3-hover: #1572b6;
$skill-git-hover: #F14E32;
$skill-github-hover: #181717;
$skill-grunt-hover: #fba919;
$skill-gulp-hover: #da4648;
$skill-html5-hover: #e34f26;
$skill-java-hover: #5382a1;
$skill-javascript-hover: #f7df1e;
$skill-jquery-hover: #0769ad;
$skill-less-hover: #1c416d;
$skill-mocha-hover: #8d6648;
$skill-mongodb-hover: #47a248;
$skill-mysql-hover: #4479a1;
$skill-nginx-hover: #269539;
$skill-nodejs-hover: #393;
$skill-php-hover: #777bb4;
$skill-python-hover: #3776ab;
$skill-sass-hover: #c69;
$skill-typescript-hover: #1377c5;
$skill-yaml-hover: #000;
$skill-angular-hover: #dd0031;
$skill-bootstrap-hover: #563d7c;
$skill-express-hover: #000;
$skill-laravel-hover: #e74430;
$skill-symfony-hover: #000;
$skill-vue-hover: #4fc08d;
$skill-acrobat-hover: #ee3f24;
$skill-bridge-hover: #735113;
$skill-illustrator-hover: #ff7c00;
$skill-indesign-hover: #fd3f93;
$skill-photoshop-hover: #00c8ff;
